@model OlnlineBanking.Models.Client

@{
    ViewBag.Title = @Model.Id==0? "Add": "Edit";
}

<div class="form-default">
    <h2 class="caption">@ViewBag.Title client</h2>
    @using (Html.BeginForm("Edit", "Client", FormMethod.Post))
    {
        <div class="fields floats">
            @Html.EditorForModel()
        </div>
        <div class="actions floats">
            @Html.ActionLink("< Cancel", "Index", null, new { @class = "cancel" })
            <input type="submit" class="save" value="Save" />
        </div>
    }
</div>
